<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
          <link rel="icon" href="./img/naruto.jpg">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
         {{>header}}
       
        <img src="./img/naruto.jpg" >
        </div>
        {{>footer}}
    </body>
</html> 