<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="./css/styles.css">
          <link rel="icon" href="./img/naruto.jpg">
    </head>
    <body>
        <div class="main-content error">
        {{>header}}
        <h2 class="error">{{errorInfo}}</h2>
        </div>
       {{>footer}}
    </body>
</html>